@import './../abstract/variaveis';

footer{
    text-align: center;
    padding: 1.2rem;
    background: linear-gradient(to right, $cor-primaria, $cor-secundaria, $cor-terciaria, $cor-secundaria, $cor-primaria);

    p{
        margin: 0 auto;
        font-size: 13px;
        width: 190px;
        line-height: 18px;
        color: $cor-primaria;
    }
}